<nav>
  <div class="nav-wrapper navbar">
    <a class="brand-logo logo">Slack Broadcast</a>
    <a data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="!user"><a (click)="loginRedirect()">Login</a></li>
      <ng-container *ngIf="user">
        <li class="navbar-item" [routerLink]="['/broadcast']"><a>Broadcast Messages</a></li>
        <li class="navbar-item" [routerLink]="['/channels']"><a>Manage Channels</a></li>
        <li class="navbar-item name">Hi {{user.attributes.name}}!</li>
        <li class="navbar-item logout" (click)="logout()"><a>Logout!</a></li>
      </ng-container>
    </ul>
  </div>
</nav>
<ul class="sidenav sidenav-close" id="mobile-nav">
  <li *ngIf="!user"><a (click)="loginRedirect()">Login</a></li>
  <ng-container *ngIf="user">
    <li class="navbar-item">Hi {{user.attributes.name}}!</li>
    <li class="navbar-item" [routerLink]="['/broadcast']"><a>Broadcast
        Messages</a></li>
    <li class="navbar-item" [routerLink]="['/channels']"><a>Manage Channels</a></li>
    <!-- <li class="navbar-item">Hi {{user.attributes.name}}!</li> -->
    <li class="navbar-item logout" (click)="logout()"><a>Logout!</a></li>
  </ng-container>
</ul>