.logo {
	padding-left: 20px;
}
.logout {
	font-style: italic;
}
.name {
	padding: 0 15px;
}

.navbar-item {
	outline: none;
	a:hover {
		cursor: pointer;
		text-decoration: underline;
	}
	&:last-child {
		margin-right: 20px;
	}
}

@media only screen and (max-width: 992px) {
	.navbar-item {
		margin: 0;
		&:first-child {
			margin: 0 32px;
		}
		&:last-child {
			margin: 0;
		}
	}
}