.logo {
	padding-left: 20px;
}
.logout {
	font-style: italic;
}

.navbar-item {
	margin: 0 10px;
	outline: none;
	a:hover {
		cursor: pointer;
		text-decoration: underline;
	}
	&:last-child {
		margin-right: 20px;
	}
}
