.wrapper {
    margin: 3rem 5rem 0;
}
.action-icon {
    padding: 0 1rem;
    outline: none;
}
.action-icon:hover {
    cursor: pointer;
}
.add-button {
    margin-left: auto;
}
.table-fix-width {
    width: 35%;
    white-space: normal;
}
th {
    font-weight: 500;
}
.refresh-btn {
    float: right;
    display: block;
}
@media only screen and (max-width: 992px) {
    tr td {
        width: auto;
        max-width: 300px;
    }
    th {
        height: auto;
    }
    .webhook-th {
        height: 84px;
    }
    .wrapper {
        margin: 0;
        margin: 3rem 5px;
    }
    .table-fix-width {
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
}