<div class="table-wrapper">
    <table class="highlight striped responsive-table centered">
        <thead>
          <tr>
              <th>Sr. No.</th>
              <th>Channel Name</th>
              <th>Channel Webhook</th>
              <th colspan=2>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let channel of channels;let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ channel.channelName }}</td>
            <td>{{ channel.channelWebhook }}</td>
            <td>
                <div class="action-icon" [routerLink]="['edit', channel.channelId]"><i class="material-icons">edit</i></div>
            </td>
            <td (click)="deleteChannel(channel.channelId)">
               <div class="action-icon"><i class="material-icons">delete</i></div>
            </td>
          </tr>
        </tbody>
      </table>
</div>
<a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['new']"><i class="material-icons">add</i></a>